* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
}

nav {
  font-family: Economica;
  font-weight: bold;
  background: #a64dff;
  margin-top: 50px;
}

nav ul {
  width: 900px;
  height: 54px;
  line-height: 54px;
  margin: 0 auto;
}

nav ul li {
    float: left;
    overflow: hidden;
}

nav ul li a {
  float: left;
  overflow: hidden;
  padding-left: 31px;
  padding-right: 31px;
  height: 54px;
  text-decoration: none;
  color: #fff;
  font-size: 26px;

}

nav ul li a:hover {
    background: #eee;
    color: #a0a0a0;    
}

