* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}

div {
  font-family: Economica;
  font-weight: bold;
  width: 500px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 100px auto;
}



div a {
  text-decoration: none;
  padding: 4px 10px;
  font-size: 16px;
  color: #a13ad1;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  
}

div a:hover {
  background: #a13bcf;
  color: #fff;
  border: 1px solid #7c12bc;
}

div a:hover:first-child {
  color: #a13ad1;
}

div a:hover:last-child {
  color: #a13ad1;
}

div a:first-child:before {
  content: "<< FIRST";
  float: left;
  
}

div a:last-child:after {
  content: "LAST >>";
  float: right;
    
}

div a:first-child {
  border: 0;
}

div a:first-child:hover {
  border: 0;
  background: none;
  
}

div a:last-child {
  border: 0;
}

div a:last-child:hover {
  background: none;
}