.a1 {
    color: blue;
}

.a2, .a2-1{
    position: relative;
    color: orange;
}

.a3 {
    color: gray;
}

.a2-1::after {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    left: 95px;
    line-height: 16px;
    content: "\21F1";
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

